body {
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: red;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Teko', sans-serif !Important;
}

p {
    font-family: 'Roboto', sans-serif !Important;
    font-weight: 400;
}

label {
    display: block;
}

nav .ui.menu {
    border-radius: 0;
}

nav .text {
    color: #89aee1;
}

nav a {
    display: inline-block;
    margin: 1em;
    color: #89aee1;
}

nav i,
nav .item {
    color: #89aee1 !important;
}

form div {
    margin: 1em;
    display: inline-block;
}

nav .menu .item a {
    margin: 0;
}

nav h1 {
    color: #89aee1;
}

nav .menu .dropdown {
    z-index: 100;
}

#app {
    min-height: 100vh;
    background-image: url('/img/90s-mint.png');
    background-color: #42bec3;
}

#carouselContainer {
    height: 90vh;
}

.carouselCard {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carouselText {
    text-align: center;
}

.ui.primary.button {
    background-color: #ebafe7;
    margin-left: 0.6em;
    transition-duration: 0.3s;
}

.ui.primary.button:hover {
    background-color: #d49ed1;
}

.ui.primary.button:active {
    background-color: #bd87b9;
}

.ui.primary.button:focus {
    background-color: #ebafe7;
}

#product-wrapper,
.cart-container {
    padding: 3em;
}

#product-wrapper .search {
    margin: 0 0 2em 1em;
}

.cart-container .ui.table thead th {
    color: rgb(235, 175, 231);
}

.cart-container .cart-row h2 {
    color: #ffc1cb;
}

.cart-container .cart-row td button {
    color: #ffc1cb !important;
    background-color: transparent;
    border: none;
}

.cart-container .cart-row td button:hover {
    color: #ebaeb8 !important;
    cursor: pointer;
}

.cart-container .ui.table {
    text-align: center !important;
}

.cart-container .ui.compact.table td {
    color: #ffc1cb;
}

.cart-container .ui.table tfoot {
    text-align: left !important;
}

.dashboard-wrapper .ui.table thead th {
    color: rgb(235, 175, 231);
}

.modal h2 {
    color: rgb(158, 234, 218);
}

.productsContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.productsContainer .card {
    width: 31.6%;
}

.productsContainer .card .content {
    background-color: #f9f8f8;
}

.productsContainer .card .content h2 {
    color: #ebafe7;
}

.productsContainer .card .content .description {
    color: #b9b7b7;
}

.productsContainer .card .content .meta span {
    color: #e8c8e6;
}

.productsContainer .card {
    box-shadow: 0 1px 3px 0 #ffc1cb, 0 0 0 1px #ffc1cb;
}

.productsContainer .card img {
    border-radius: .28571429rem;
}

.productsContainer .card .extra {
    background-color: #ffc1cb;
    color: #ffffff;
}

.productsContainer .card .extra p {
    font-size: 1.2em;
}

.productsContainer .card .extra .label {
    background-color: #e9f259;
    color: #feccc3;
}

.formWrapper {
    padding: 6em;
}

.formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.formContainer .segment {
    width: 30em;
}

.formContainer .segment h1 {
    margin-left: .5em;
    color: #ebafe7;
    margin-top: .5em;
}

.formContainer .segment button {
    margin-left: 1em;
}

.formContainer .form .equal {
    display: flex;
    flex-direction: column;
    margin-right: 1.4em;
}

.product-wrapper,
.cart-container,
.dashboard-wrapper {
    padding: 6em;
}

.single-product,
.dashboard {
    display: flex;
    flex-direction: row;
    background-color: #f9f8f8;
    box-shadow: 0 1px 3px 0 #ffc1cb, 0 0 0 1px #ffc1cb;
    border-radius: .28571429rem;
    margin-top: 1em;
}

.single-product img,
.dashboard img {
    height: 30em;
    border-radius: .28571429rem;
}

.single-product .container,
.dashboard .container {
    padding: 2.5em;
}

.single-product .container h2,
.dashboard .container h2,
.reviews h2 {
    color: #ebafe7;
    margin-bottom: 0;
}

.single-product .container p,
.dashboard .container p,
.reviews .segment,
.reviews p {
    color: #b9b7b7;
}

.reviews .button {
    margin: -1em 0 1.2em 0;
}

.single-product .container h3 {
    color: #ffc1cb;
    margin: 1em 0 .7em 0;
}

.single-product .ui input {
    margin-top: -.7em !important;
}

.single-product .ui button {
    margin-top: 1em;
}

.single-product .ui .label {
    background-color: #ffc1cb;
    color: rgb(249, 248, 248);
}

.reviews h3.attached,
.reviewModalHead {
    background-color: #ffc1cb !important;
    color: #fff;
}

.reviewModalHead .content,
.reviewModalHead i {
    color: #fff;
}

.reviews .segment {
    background-color: #fff;
    border-radius: 0 0 5px 5px;
}

.reviews {
    display: flex;
    flex-direction: column;
    background-color: #f9f8f8;
    box-shadow: 0 1px 3px 0 #ffc1cb, 0 0 0 1px #ffc1cb;
    border-radius: .28571429rem;
    margin-top: 1em;
    padding: 3em;
}

.review-wrapper {
    margin-bottom: 1.2em;
}

.review-wrapper .header .rating .active,
.single-product .rating .active {
    color: rgb(245, 228, 149) !important;
}

.reviews .button {
    font-size: 0.6rem;
}

.reviewForm .fields {
    flex-direction: column !important;
}

.reviewForm .reviewRating {
    flex-direction: row !important;
}

.reviewForm .input {
    margin-left: 0;
}

.reviewForm .input input,
.reviewForm textarea {
    font-weight: 300;
    color: #89aee1 !important;
}

.reviewForm select {
    margin-top: 1em;
    color: #c7c5c5 !important;
    font-size: .95em;
    height: 3em !important;
    font-weight: 300;
}

.vis-hidden {
    display: none;
}

.breadcrumb {
    background-color: #fff;
    padding: .6em;
    border-radius: .5em;
    font-size: .9em !important;
}

.orderCompleteContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}

.totalPrice {
    display: flex;
    justify-content: flex-end;
}


/* Specials CSS fro Hove.css */

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.5s;
    transition-property: transform;
}

.hvr-grow:hover {
    transform: scale(1.015);
    transition-duration: 0.3s;
    cursor: pointer;
}


/* cart image style */

.cartPhoto {
    height: 100px;
    width: 100px;
}