body {
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

label {
    display: block;
}

nav a {
    display: inline-block;
    margin: 1em;
}

form div {
    margin: 1em;
    display: inline-block;
}

nav .menu .item a {
    margin: 0;
}

nav .menu .dropdown {
    z-index: 100;
}

#carouselContainer {
    height: 90vh;
}

.carouselCard {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carouselText {
    text-align: center;
}

#product-wrapper {
    padding: 3em;
}

.productsContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.productsContainer .card {
    margin-right: 2em;
}