body {
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Teko', sans-serif;
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

label {
    display: block;
}

nav a {
    display: inline-block;
    margin: 1em;
}

form div {
    margin: 1em;
    display: inline-block;
}

nav .menu .item a {
    margin: 0;
}

nav .menu .dropdown {
    z-index: 100;
}

#carouselContainer {
    height: 90vh;
}

.carouselCard {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carouselText {
    text-align: center;
}

#product-wrapper {
    padding: 3em;
    background-color: #7cf4d3;
}

.productsContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.productsContainer .card {
    width: 31.6%;
}

.productsContainer .card .content {
    background-color: #f9f8f8;
}

.productsContainer .card .extra {
    background-color: #89aee1;
    color: #e9f259;
}

.productsContainer .card .extra .label {
    background-color: #e9f259;
    color: #89aee1;
}

.formWrapper {
    padding: 6em;
}

.formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.formContainer .segment {
    width: 30em;
}

.formContainer .form .equal {
    display: flex;
    flex-direction: column;
    margin-right: 1.4em;
}

.single-product {
    display: flex;
    flex-direction: row;
    padding: 6em;
}

.single-product img {
    height: 30em;
}